@import '../../styles/_variable.scss';
$width: 300px;

.wrap {
  position: relative;


}

.spareWrap {
  padding-top: 60px;
  //background-color: $black;
}

.title {
  color: $whiteFont;
  font-size: 6vw;
  text-align: center;
  letter-spacing: .2rem;
  padding-bottom: 10px;
  text-transform: uppercase;

  @media only screen and (min-width:$viewPointMedium) {
    font-size: 3rem;
  }
}

.topSection {
  // background-color: $gold;
  color: $whiteFont;
  padding-top: 30px;
  //padding-bottom: 60px;
  text-align: center;

  background-image: linear-gradient($black, $black);

  h3,
  h4 {
    padding: 5px 0;
  }

  h3 {
    font-size: 1.25rem;

    @media only screen and (min-width:$viewPointMedium) {
      font-size: 2rem;
    }
  }

  h4 {
    @media only screen and (min-width:$viewPointMedium) {
      font-size: 1.2rem;
    }
  }
}

.shortIntro {
  //background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;

  p {
    padding: 5px 0;
  }
}

.mainSection {
  //background-color: white;
  padding-top: 30px;
  background-image: linear-gradient($black, white);

}

.itemWrap {
  max-width: $width;

  margin: 20px;

  // @media only screen and (min-width:700px) {
  //   margin: 20px;
  // }

}

.btnList {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;

  @media only screen and (max-width:480px) {
    justify-content: center;
    max-width: 300px;
  }

  a {
    margin-top: 10px;
  }
}

.tabList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: $width;
  margin: 10px auto 0;
}

.photo {
  margin-bottom: 10px;

  img {
    vertical-align: bottom;
  }
}

.tabItem {
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  color: silver;
  max-width: 145px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 145px;
    height: 5px;
    background-color: white;
  }
}

.tabContent {
  padding: 10px;
  border: 2px solid $black;
  min-height: 250px;
  max-width: $width;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: white;

  p {
    padding: 5px 0;
  }
}

.activeTab {
  color: white;
  border-left: 1px solid $black;
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  position: relative;
  background-color: $black;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -0.5px;
    width: 144px;
    height: 2px;
    background-color: $black;
  }
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.deliveryWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  color: white;
}