$gold : #C2A56D;
$lightBlue: #AFC7D3;
$pink:#ebd8c1;
$darkGray: #484848;
$black:#333333;
$orange: #FBA163;

$blackFont: #111111;
$goldFont: #BFA065;
$whiteFont:white;

$defaultFont: 'Poppins';
$viewPointMedium: 900px;