@import '../../styles/variable';
$rowHeight: 200px;
$viewPointMedium: 900px;

.grid {
  line-height: 1.4;
  // margin-top:60px;
  // margin-bottom: 60px;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;

  display: grid;

  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto 300px 300px auto auto 300px 300px auto 20px;
  grid-gap: 20px;

  @media only screen and (min-width:$viewPointMedium) {
    grid-template-columns: 1.5rem 1fr 1fr 1fr 1.5rem;
    grid-template-rows: 300px 10px 300px 300px 60px;

  }

  overflow:hidden;
}

.infoBlock {
  padding: 20px 10px
}

.goldBlock {
  background-color: rgba(194, 165, 109, .95);
  color: white;

  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
  z-index: 5;
  padding: 20px;

  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }
}

.titleBlock {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #333333;



  color: #BFA065;
  z-index: 5;
  text-align: center;
  align-self: center;

  padding: 1rem 0;

  h1 {
    font-size: 8vw;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 3 / span 1;
    grid-row: 3/ span 1;
    font-size: 2.2rem;

    h1 {
      font-size: 4rem;
      max-width: 350px;

      margin: 0 auto;
    }
  }
}


.imgBlock {
  background-size: cover;
  background-position: center;
  //border: 1px solid red;
  max-height: 300px;
  overflow: hidden;


}

.img01 {
  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  //	background-image: url('https://images01.nicepage.io/93/ca/93ca41f399f3196923c769da96fc2aec.jpeg');
  //background-color:blue;
}

.img02 {
  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  //	background-image:url('https://images01.nicepage.io/d0/75/d07586f450baf06b5db84a6382f91981.jpeg')
}

.blackBlock {


  background-color: $black;
  padding: 60px 0;
  vertical-align: center;
  text-align: center;
  z-index: 0;
  grid-column: 1 / span 3;
  grid-row: 5 / span 5;
  position: relative;

  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 1 / span 5;
    grid-row: 2 / span 4;
  }

}

.img03 {
  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1; //margin-top:20px;
  }

  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  z-index:5;
  //background-image: url('https://images01.nicepage.io/74/42/7442a5ae603d27d1cf50ce8be906c2bd.jpeg');

}

.img04 {
  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
  z-index:5;
  //	background-image: url('https://images01.nicepage.io/80/f4/80f453473d2af41f179584713b791fd7.jpeg');
}

.whiteBlock {
  background-color: white;
  color: #111111;



  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
  z-index: 5;

  @media only screen and (min-width:$viewPointMedium) {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
  }
}

.blockHeading {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 5vw;

  @media only screen and (min-width:$viewPointMedium) {
    font-size: 2rem;
  }
}