@import '../../styles/variable';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  z-index: 100;
  overflow: scroll;
}

.modalContainer {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  // background-color: teal;
}

.closeBtn {
  font-size: 30px;
  color: white;
  text-align: right;
  margin-left: auto;
  display: block;
  width: 100%;
  //margin: 0 auto;
  max-width: 800px;
  padding-top: 10px;
  padding-right: 10px;
}